@using CleanArchitecture.MembersRegistration.Web.Views.Components.EntryLinks
@model EntryLinksViewModel

<ul>
	<li><a href="@Model.LoginPageUrl">Login Page</a></li>
	<li><a href="@Model.RegistrationPage">Registration Page</a></li>
</ul>