<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2371808e-8c1a-4243-a580-97af3dbdafe8" Alias="globalSettings" Level="2">
  <Info>
    <Name>Global Settings</Name>
    <Icon>icon-settings-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>0.+Core</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>