<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c7b316d-59ab-4629-a7f0-e50e72282121" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>3.+Content+Page</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="83cba584-b7a6-4694-b4bb-8536f6b0fc31">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7033442b-16d6-4cd1-aabf-06f730b0e1bf" SortOrder="0">loginPage</ContentType>
    <ContentType Key="a2b6d40c-e608-4e2e-9f38-f0a0bb2ea3f7" SortOrder="1">registrationPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>