<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2b6d40c-e608-4e2e-9f38-f0a0bb2ea3f7" Alias="registrationPage" Level="2">
  <Info>
    <Name>Registration Page</Name>
    <Icon>icon-edit color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>3.+Content+Page</Folder>
    <Compositions />
    <DefaultTemplate>RegistrationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6cacacbb-3d9b-43ff-8742-09abc92a69d4">RegistrationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>